p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.blackbox {
  padding: 1em;
  background: #D3D3D3;
  width: 100%;
  color: black;
  border: 1px solid black;
  border-radius: 10px;
  
}
.center {
  text-align: center;
}

.center {
	.blackbox
}